
.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas:
  "header header header"
  "left-content left-content right-content-1"
  "left-content left-content right-content-2"
  "footer footer footer";
  gap: 10px;
  padding: 50px;
  box-sizing: border-box;
}
/*Main content of page will stack vertically for screens smaller than 700px*/
@media(max-width:700px) {
  .grid-container {
    grid-template-areas:
    "header header header"
    "right-content-1 right-content-1 right-content-1"
    "left-content left-content left-content"
    "right-content-2 right-content-2 right-content-2"
    "footer footer footer";
  }
  
}

.grid-container-blog {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr;
  grid-template-areas:
  "header"
  "nav"
  "article"
  "footer";
  gap: 10px;
  padding: 50px 200px 50px 200px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  background: white;
}

.header {  
  grid-area: header;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  padding: 15px;
}

.main-heading {
  margin: 0;
  padding: 5px;
  text-decoration: underline dashed #d8e5de;
}
.sub-heading {
  font-style: italic;
  text-decoration: underline dashed #d8e5de;
  padding: 5px;
  margin: 0;
}

.nav {
  grid-area: nav;
  padding: 10px;
  text-align: center
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-list-item {
  display: inline;
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.content-title {
  margin: 0;
  padding: 15px;
  font-weight: 400;
  text-align: center;
  text-decoration: underline dashed white;
}



.content-text {
  font-weight: 400;
  padding: 15px;
  margin: 0;
  text-align: center;
}


.left-content {
  grid-area: left-content;
  background-color: #d8e5de;
  border-radius: 30px;
}

.right-content-1 {
  grid-area: right-content-1;
  background-color: #d8e5de;
  border-radius: 30px;
}

.right-content-2 {
  grid-area: right-content-2;
  background-color: #d8e5de;
  border-radius: 30px;
}

.content-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#about-image-container {
  text-align: center;
  box-sizing: content-box;
}

#about-image {
  width: 40%;
  border: dashed white;
  padding: 5px;
  border-radius: 50%;
}

.footer {
  grid-area: footer;
  text-align: center;
  background: white;
  padding: 20px;
}

.article {
  grid-area: article;
  background-color: #d8e5de;
  border-radius: 30px;
}

.ital {
  font-style: italic;
}















