body {
  font-family: 'Raleway', sans-serif;
  background: white;
  margin: 15px;
}

.header {  
  border-bottom: dashed #d8e5de;
}

.main-heading {
  font-size: 40px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  margin: 8px;
}

.sub-heading {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  margin: 8px;
}

.left-column {
  float: left;
  width: 50%;
}


.right-column {
  float: right;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.content-box {
  background-color: #d8e5de;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.footer {
  padding: 20px;
  text-align: center;
  background: white;
  margin-top: 20px;
}





