
.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 27.5% 27.5% 45%;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas:
  "header header header"
  "left-content left-content right-content-1"
  "left-content left-content right-content-2"
  "footer footer footer";
  gap: 10px;
  padding: 50px;
  margin: 0;
  box-sizing: border-box;
  justify-content: center;
  
}

.grid-container-blog {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  grid-template-areas:
  "header"
  "nav"
  "article"
  "footer";
  gap: 10px;
  padding: 50px;
  margin: 0;
  box-sizing: border-box;
  justify-content: center;
}



body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: white;
}

.header {  
  grid-area: header;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
  padding: 15px;
}

.main-heading {
  margin: 0;
  padding: 5px;
  text-decoration: underline dashed #d8e5de;
}
.sub-heading {
  font-style: italic;
  text-decoration: underline dashed #d8e5de;
  padding: 5px;
  margin: 0;
}

.nav {
  grid-area: nav;
  padding: 10px;
  text-align: center
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav-list-item {
  display: inline;
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.content-title {
  margin: 0;
  padding: 15px;
  font-weight: 400;
  text-align: center;
  text-decoration: underline dashed white;
}

.content-sub-title {
  margin: 0;
  padding: 15px;
  font-weight: 400;
  text-align: center;
  text-decoration: underline dashed white;
  font-size: 20px;
}


.index-content-text {
  font-weight: 400;
  padding: 15px;
  margin: 0;
  text-align: center;
}


.left-content {
  grid-area: left-content;
  background-color: #d8e5de;
  border-radius: 30px;
  margin: 10px;
}

.right-content-1 {
  grid-area: right-content-1;
  background-color: #d8e5de;
  border-radius: 30px;
  margin: 10px;
}

.right-content-2 {
  grid-area: right-content-2;
  background-color: #d8e5de;
  border-radius: 30px;
  margin: 10px;
}

.content-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 15px;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}

#about-image-container {
  text-align: center;
  box-sizing: content-box;
}

#about-image {
  width: 40%;
  border: dashed white;
  padding: 5px;
  border-radius: 50%;
}

.footer {
  grid-area: footer;
  text-align: center;
  background: white;
  padding: 20px;
  margin: 10px;
}

.article {
  grid-area: article;
  background-color: #d8e5de;
  border-radius: 30px;
  margin: 10px;  
}

.image-container {
  display: block;
  text-align: center;
  padding: 10px;
}

.blog-image {
  max-width: 100%;
}



.content-text {
  font-weight: 400;
  margin: 0;
  text-align: left;
  padding: 15px;
  font-size: 16px;
}
.ital {
  font-style: italic;
}

figcaption {
  padding: 5px;
}
  
/* MEDIA QUERIES */


/*make grid elements stack in specific vertical order and decrease padding of blog for screens less than 768px*/
@media(max-width:768px) {
  .grid-container {
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "right-content-1 right-content-1 right-content-1"
    "left-content left-content left-content"
    "right-content-2 right-content-2 right-content-2"
    "footer footer footer";

    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  }
  .grid-container-blog {
    padding: 10px;
  }
}

/*decrease padding, images and font sizes for mobiles*/
@media(max-width:320px) {
  .grid-container {
    padding: 15px;
  }
  .main-heading {
    font-size: 24px;
  }
  .sub-heading {
    font-size: 18px;
  }
  .content-title {
    font-size: 20px;
  }
  .content-text {
    font-size: 14px;
  }

  .grid-container-blog {
    padding: 5px;
  }
  
}

/*increase padding and font sizes for desktop*/
@media(min-width:1200px) {
  .grid-container {
    padding-left: 100px; 
    padding-right: 100px;
  }
  .grid-container-blog {
    padding-left: 200px;
    padding-right: 200px;
  }
  .main-heading {
    font-size: 36px;
  }
  .sub-heading {
    font-size: 28px;
  }
  .content-text {
    font-size: 18px;
  }

  .image-container {
    padding: 40px;
  }
  
}











